{% extends "base.html" %}

{% block content %}

    <title>Leaderboard</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            color: #FFFFFF; /* Light text */
        }
        th {
            background-color: #333333; /* Darker background for navbar */
            color: white;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 15px;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #1E1E1E;
        }
        tr:hover {
            background-color: #333333;
        }

        a {
            color: white;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="header" style="justify-content: center;">
            <h1>Leaderboard</h1>
        </div>
        <h2>Team Ranks</h2>
        <table>
            <tr>
                <th>Rank</th>
                <th>Team Name</th>
                <th>Points</th>
            </tr>
            {% for team in teams %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="/user/team/{{team.team_name}}">{{ team.team_name }}</a></td>
                <td>
                    {{ team.team_points }}
                    {% if team_partial_tiles[team.team_id] > 0 %}
                    ({{ team_partial_tiles[team.team_id] }})
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <h2>Clan Gains</h2>
        <table>
            <tr>
                <th>Total Gold</th>
                <th>Total Deaths</th>
                <th>Total Pets</th>
                <th>Total Tiles</th>
            </tr>
            <tr>
                <td>{{ total_gold }}</td>
                <td>{{ total_deaths }} deaths</td>
                <td>{{ total_pets }} pets</td>
                <td>
                    {{ total_tiles }} tiles
                    {% if partial_tiles > 0 %}
                    ({{ partial_tiles }} partials)
                    {% endif %}
                </td>
            </tr>
        </table>
        <h2>Honorable Mentions</h2>
        <table>
            <tr>
                <th>Clan Thrall</th>
                <th>Pet Collector</th>
                <th>Top G</th>
                <th>MVP</th>
            </tr>
            <tr>
                <td><a href="/user/player/{{ most_deaths_player.player_name }}">{{ most_deaths_player.player_name }}</a> with {{ most_deaths_player.deaths }} deaths</td>
                <td><a href="/user/player/{{ most_pets_player.player_name}}">{{ most_pets_player.player_name }}</a> with {{ most_pets_player.pet_count }} pets </td>
                <td><a href="/user/player/{{ most_gold_player.player_name }}">{{ most_gold_player.player_name }}</a> with {{ most_gold_player.gp_gained }} gold </td>
                <td><a href="/user/player/{{ most_tiles_player.player_name }}">{{ most_tiles_player.player_name }}</a> with {{ most_tiles_player.tiles_completed }} tiles </td>
            </tr>
        </table>
        <h2>Player Ranks</h2>
        <table>
            <tr>
                <th>Rank</th>
                <th>Player Name</th>
                <th>Total Deaths</th>
                <th>Pets Gained</th>
                <th>Gold Gained</th>
                <th>Tiles Completed</th>
            </tr>
            {% for player in players %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="/user/player/{{player.player_name}}">{{ player.player_name }}</a></td>
                <td>{{ player.deaths }}</td>
                <td>{{ player.pet_count }}</td>
                <td>{{ player.gp_gained }}</td>
                <td>{{ player.tiles_completed }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

{% endblock %}
