{% extends "base.html" %}

{% block content %}
<title>{{ team.team_name }}</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            font-family: Arial, sans-serif; /* Use a readable font */
        }

        th {
            background-color: #333; /* Darker background for navbar */
            color: white;
            position: sticky;
            top: 0;
            font-size: 16px; /* Larger font size for header */
        }

        th, td {
            border: 1px solid #ddd;
            padding: 15px;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #1E1E1E;
        }

        tr:hover {
            background-color: #444; /* Slightly darker hover effect */
        }

        /* Optional: Remove borders or adjust as needed */
        /* table {
            border: none;
        } */

        /* Optional: Add spacing between rows */
        tr {
            margin-bottom: 5px;
        }

        /* Optional: Style the search bar and header */
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        .search-bar {
            display: flex;
        }

        .search-bar input[type="text"] {
            border: none;
            padding: 10px;
            color: #000;
            background-color: #fff;
        }

        .search-bar input[type="submit"] {
            border: none;
            padding: 10px;
            color: #fff;
            background-color: #444;
            cursor: pointer;
        }

        a {
            color: white;
        }
    </style>
<script>
    function submitForm(event) {
        event.preventDefault();
        var team = document.getElementById('teamselect').value;
        window.location.href = '/user/team/' + team;
    }
</script>
</head>
<body>
<div class="content">
    <div class="header">
        <h2><a href="/board/{{ team.team_name }}">View Board</a></h2>
        <form onsubmit="submitForm(event)" class="search-bar">
            <select id="teamselect" name="teamsearch">
                {% for teamname in teamnames %}
                <option value="{{teamname}}">{{teamname}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="header" style="justify-content: center;">
        <h1>{{team.team_name}}</h1>
    </div>
    <h2>Team Gains</h2>

    <table>
        <tr>
            <th>Total Tiles</th>
            <th>Total Gold</th>
            <th>Total Deaths</th>
            <th>Total Pets</th>
        </tr>
        <tr>
            <td>{{ total_tiles }} tiles {% if partial_tiles > 0 %}({{ partial_tiles }} partial){% endif %}</td>
            <td>{{ total_gold }}</td>
            <td>{{ total_deaths }} deaths</td>
            <td>{{ total_pets }} pets</td>
        </tr>
    </table>
    <h2>Top Players</h2>
    <table>
        <tr>
            <th>MVP</th>
            <th>Top G</th>
            <th>Clan Thrall</th>
            <th>Pet Collector</th>
        </tr>
        <tr>
            <td><a href="/user/player/{{ most_tiles_player.player_name }}">{{ most_tiles_player.player_name }}</a> with
                {{ most_tiles_player.tiles_completed }} tiles
            </td>
            <td><a href="/user/player/{{ most_gold_player.player_name }}">{{ most_gold_player.player_name }}</a> with {{
                most_gold_player.gp_gained }} gold
            </td>
            <td><a href="/user/player/{{ most_deaths_player.player_name }}">{{ most_deaths_player.player_name }}</a>
                with {{ most_deaths_player.deaths }} deaths
            </td>
            <td><a href="/user/player/{{ most_pets_player.player_name}}">{{ most_pets_player.player_name }}</a> with {{
                most_pets_player.pet_count }} pets
            </td>
        </tr>
    </table>
    <h2>Relevant Drops</h2>
    <table>
        <tr>
            <th>Tile name</th>
            <th>Drop name</th>
            <th>Player name</th>
        </tr>
        {% for relevant_drop in relevant_drops %}
        <tr>
            <td>{{ relevant_drop.tile_name }}</td>
            <td>{{ relevant_drop.drop_name }}</td>
            <td><a href="/user/player/{{relevant_drop.player_name}}">{{ relevant_drop.player_name }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <h2>Killcount</h2>
    <table>
        <tr>
            <th>Boss name</th>
            <th>Kill count</th>
        </tr>
        {% for kills in killcount %}
        <tr>
            <td>{{ kills[0] }}</td>
            <td>{{ kills[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Player Ranks</h2>
    <table>
        <tr>
            <th>Rank</th>
            <th>Player Name</th>
            <th>Total Deaths</th>
            <th>Pets Gained</th>
            <th>Gold Gained</th>
            <th>Tiles Completed</th>
        </tr>
        {% for player in players %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="/user/player/{{player.player_name}}">{{ player.player_name }}</a></td>
            <td>{{ player.deaths }}</td>
            <td>{{ player.pet_count }}</td>
            <td>{{ player.gp_gained }}</td>
            <td>{{ player.tiles_completed }} {% if player_partials[player.player_id] > 0 %}({{ player_partials[player.player_id] }}) {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Drops</h2>
    <table>
        <tr>
            <th>Item name</th>
            <th>Quantity</th>
            <th>Gold gained</th>
        </tr>
        {% for drop in drops %}
        <tr>
            <td>{{ drop[0] }}</td>
            <td>{{ drop[1] }}</td>
            <td>{{ drop[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
{% endblock %}
