{% extends "base.html" %}

{% block content %}

<style>
    table {
        width: 80%; /* Adjust this value */
        margin: auto; /* Add this line to center the table */
        border-collapse: collapse;
        margin-top: 20px;
        color: #FFFFFF; /* Light text */
    }
    th {
        background-color: #333333; /* Darker background for navbar */
        color: white;
    }
    th {
        border: 1px solid #ddd;
        padding: 15px;
        text-align: center;
    }
    td {
        border: 1px solid #ddd;
        text-align: center;
        height: 80px;
    }
    tr:nth-child(even) {
        background-color: #1E1E1E;
    }
    tr:hover {
        background-color: #333333;
    }
    td:hover {
            background-color: #ADD8E6;
        }
    .header {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .search-bar {
        display: flex;
    }

    .search-bar select {
        border: none;
        padding: 10px;
        color: #000;
        background-color: #fff;
    }

    .search-bar input[type="submit"] {
        border: none;
        padding: 10px;
        color: #fff;
        background-color: #444;
    }

    a {
        color: white;
    }

    td button {
        display: block;
        width: 100%; /* Set width to 100% */
        height: 100%; /* Set height to 100% */
    }
</style>
<script>
    const teamnames = {{teamnames|tojson}}
    function submitForm(event) {
        event.preventDefault();
        var team = document.getElementById('teamselect').value;
        if (teamnames.includes(team)){
            window.location.href = '/board/' + team;
        }
        else{
            window.location.href = '/board';
            console.log(team)
        }
    }
</script>
<div class="header">
    <h1>Current Standings</h1>
    <form class="search-bar" onsubmit="submitForm(event)">
        <select id="teamselect">
            <option value="emptyboard">Empty Board</option>
            {% for name in teamnames %}
            <option value="{{name}}"
                    {% if name == teamname %}
                    selected
                    console.log(name)
                    {% endif %}>
                {{name}}
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="Select">
    </form>
</div>
<div class="header">
    {% if teamname in teamnames %}
    <h2><a href="/user/team/{{teamname}}">{{teamname}}'s</a> Current Board</h2>
    {% else %}
    <h2>Bingo Board</h2>
    {% endif %}
</div>
<table>
    <tr>
        {% for i in range(0, boardsize) %}
        <!-- change values for column headers -->
        <th>{{i+1}}</th>
        {% endfor %}
    </tr>
    {% for x in range(0,boardsize) %}
    {% set outerloopindex = loop.index0 %}
    <tr>
        {% for y in range(0, boardsize) %}
        <td>
            {% if tilenames[outerloopindex * boardsize + loop.index0] in completed_tiles %}
                <button style="background-color: #4CAF50;">{{tilenames[outerloopindex * boardsize + loop.index0]}}</button>
            {% elif tilenames[outerloopindex * boardsize + loop.index0] in partial_tiles %}
                <button style="background-color: yellow;color: black">{{tilenames[outerloopindex * boardsize + loop.index0]}}</button>
            {% else %}
                <button style="background-color: red;">{{tilenames[outerloopindex * boardsize + loop.index0]}}</button>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<form>

</form>

{% endblock %}