{% extends "base.html" %}

{% block content %}

<style>
    table {
        width: 80%; /* Adjust this value */
        margin: auto; /* Add this line to center the table */
        border-collapse: collapse;
        margin-top: 20px;
        color: #FFFFFF; /* Light text */
    }
    th {
        background-color: #333333; /* Darker background for navbar */
        color: white;
    }
    th {
        border: 1px solid #ddd;
        padding: 15px;
        text-align: center;
    }
    td {
        border: 1px solid #ddd;
        text-align: center;
        height: 80px;
    }
    tr:nth-child(even) {
        background-color: #1E1E1E;
    }
    tr:hover {
        background-color: #333333;
    }
    td:hover {
            background-color: #ADD8E6;
        }
    .header {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .search-bar {
        display: flex;
    }

    .search-bar select {
        border: none;
        padding: 10px;
        color: #000;
        background-color: #fff;
    }

    .search-bar input[type="submit"] {
        border: none;
        padding: 10px;
        color: #fff;
        background-color: #444;
    }

    a {
        color: white;
    }

    td button {
        display: block;
        width: 100%; /* Set width to 100% */
        height: 100%; /* Set height to 100% */
    }

    .side-panel {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .side-panel-content {
        margin: 30px;
        color: white;
    }

</style>

<!-- Add the side panel to your HTML -->
<div id="mySidePanel" class="side-panel">
    <div class="side-panel-content">
        <a href="javascript:void(0)" onclick="closePanel()">X</a>
        <h3 id="tileName">Tile Name</h3>
        <p id="progress"></p>
        <p id="completions"></p>
        <p id="repetitions"></p>
        <p id="rules"></p>
    </div>
</div>

<script>
    const teamnames = {{teamnames|tojson}}
    function submitForm(event) {
        event.preventDefault();
        var team = document.getElementById('teamselect').value;
        if (teamnames.includes(team)){
            window.location.href = '/board/' + team;
        }
        else{
            window.location.href = '/board';
            console.log(team)
        }
    }
</script>
<div class="header">
    <h1>Current Standings</h1>
    <form class="search-bar" onsubmit="submitForm(event)">
        <select id="teamselect">
            <option value="emptyboard">Empty Board</option>
            {% for name in teamnames %}
            <option value="{{name}}"
                    {% if name == teamname %}
                    selected
                    console.log(name)
                    {% endif %}>
                {{name}}
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="Select">
    </form>
</div>
<div class="header">
    {% if teamname in teamnames %}
    <h2><a href="/user/team/{{teamname}}">{{teamname}}'s</a> Current Board</h2>
    {% else %}
    <h2>Bingo Board</h2>
    {% endif %}
</div>
<table>
    <tr>
        {% for i in range(0, boardsize) %}
        <!-- change values for column headers -->
        <th>{{i+1}}</th>
        {% endfor %}
    </tr>
    {% for x in range(0,boardsize) %}
    {% set outerloopindex = loop.index0 %}
    <tr>
        {% for y in range(0, boardsize) %}
        <td>
            {% if tilenames[outerloopindex * boardsize + loop.index0] in completed_tiles %}
                <button style="background-color: #4CAF50;"
                        onclick="openPanel('{{tilenames[outerloopindex * boardsize + loop.index0]}}',
                                 '{{panelData[tilenames[outerloopindex * boardsize + loop.index0]].completions}}',
                                 '{{panelData[tilenames[outerloopindex * boardsize + loop.index0]].repetition}}',
                                 '{{panelData[tilenames[outerloopindex * boardsize + loop.index0]].rules}}')">{{tilenames[outerloopindex * boardsize + loop.index0]}}</button>
            {% elif tilenames[outerloopindex * boardsize + loop.index0] in partial_tiles %}
                <button style="background-color: yellow;color: black"
                        onclick="openPanel('{{tilenames[outerloopindex * boardsize + loop.index0]}}',
                                 '{{panelData[tilenames[outerloopindex * boardsize + loop.index0]].completions}}',
                                 '{{panelData[tilenames[outerloopindex * boardsize + loop.index0]].repetition}}',
                                 '{{panelData[tilenames[outerloopindex * boardsize + loop.index0]].rules}}')">{{tilenames[outerloopindex * boardsize + loop.index0]}}</button>
            {% else %}
                <button style="background-color: red;"
                        onclick="openPanel('{{tilenames[outerloopindex * boardsize + loop.index0]}}',
                                 '{{panelData[tilenames[outerloopindex * boardsize + loop.index0]].completions}}',
                                 '{{panelData[tilenames[outerloopindex * boardsize + loop.index0]].repetition}}',
                                 '{{panelData[tilenames[outerloopindex * boardsize + loop.index0]].rules}}')">{{tilenames[outerloopindex * boardsize + loop.index0]}}</button>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>

<form>

</form>




<script>
    var tilenames = {{ tilenames | tojson }};
    var teamName = {{ teamname | tojson }};
    var isOpen = false;

    /* Add a function to open the side panel */
    function openPanel(tileName, completions, repetitions, rules) {
        if (isOpen) {
            closePanel();
            // Wait for the closePanel animation to finish
            setTimeout(function() {
                openPanelHelper(tileName, progress, completions, repetitions, rules);
            }, 350); // Adjust this value based on the duration of your closePanel animation
        } else {
            openPanelHelper(tileName, completions, repetitions, rules);
        }
    }

    function openPanelHelper(tileName, completions, repetitions, rules) {
        // Make an AJAX request to get the progress data
        $.ajax({
            url: '/get_progress',  // Replace with your Flask route
            type: 'GET',
            data: {
                'tileName': tileName,
                'teamName': teamName
            },
            success: function(data) {
                // Use the returned data to update the side panel
                isOpen = true;
                document.getElementById("mySidePanel").style.width = "400px";
                document.getElementById("tileName").innerText = tileName;
                document.getElementById("completions").innerText = completions;
                document.getElementById("repetitions").innerText = repetitions;
                document.getElementById("rules").innerText = rules;
                document.getElementById("progress").innerHTML = data.progress;
            });
    }

    /* Add a function to close the side panel */
    function closePanel() {
        isOpen = false;
        document.getElementById("mySidePanel").style.width = "0";
    }

    document.addEventListener('click', function(event) {
        var isClickInside = document.getElementById('mySidePanel').contains(event.target);
        var isClickOnButton = event.target.tagName === 'BUTTON';
        if (!isClickInside && !isClickOnButton) {
            closePanel();
        }
    });

</script>
{% endblock %}