{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Welcome to Fatalis Bingo Management</h1>
        <button onclick="location.href='/db/reset_database'" type="button">Reset Bingo</button>
        <button onclick="location.href='/db/upload_teams'" type="button">Upload Teams</button>
        <button onclick="location.href='/db/upload_tiles'" type="button">Upload Tiles</button>
        <button onclick="location.href='/db/db_download'" type="button">Download DB</button>
    </div>
{% endblock %}


