{% extends "base.html" %}

{% block content %}

<style>
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .step-block {
        text-align: left; /* Aligns the text to the left */
        border-top: 1px solid black; /* Adds a line/border on the top */
        padding-top: 10px; /* Adds a little padding on the top */
        padding-bottom: 10px; /* Adds a little padding on the bottom */
    }

    .step-block img {
        display: block; /* Makes the image a block element */
        margin-left: auto; /* Centers the image */
        margin-right: auto;
    }

    .step-block button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 4px 10px; /* Adjusted padding */
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 10px;
            cursor: pointer;
            transition-duration: 0.4s;
        }
        .search-bar {
            display: flex;
        }

        .search-bar input[type="text"] {
            border: none;
            padding: 10px;
            color: #000;
            background-color: #fff;
        }

        .search-bar input[type="submit"] {
            border: none;
            padding: 10px;
            color: #fff;
            background-color: #444;
        }

    /* Modal Styles */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
    }

    .modal-content {
        background-color: rgba(0,0,0, 1);
        margin: 5% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<script>
    function submitForm(event) {
        event.preventDefault();
        var player = document.getElementById('searchbox').value;
        window.location.href = '/user/player/' + player;
    }

    // Modal script
    window.onload = function() {
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("infoButton");
        var span = document.getElementsByClassName("close")[0];

        // Open the modal
        modal.style.display = "block";

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
</script>

<div class="header">
    <h1>Dink Setup</h1>
</div>
<div class="step-block">
    <h2>Step 1 - Install Dink</h2>
    <p>Navigate to the plugin hub by clicking the wrench in the top right corner. Then click the plug as seen in the image below and search "Dink". Then click install.</p>
    <p><b>If you already have Dink installed you can skip this step</b></p>
    <img src="{{ url_for('static', filename='images/dink/step1.png') }}" />
</div>
<div class="step-block">
    <h2>Step 2 - Enable Dink</h2>
    <p>Click the cog to access Dink settings. Make sure the plugin is enabled in the top right corner of the settings. Scroll to the bottom of the plugin settings and click "Reset". In the dialog box click "Yes".</p>
    <img src="{{ url_for('static', filename='images/dink/step2.png') }}" />
</div>
<div class="step-block">
    <h2>Step 3 - Import Settings <b>(Remember to click the "Copy Settings" button)</b></h2>
    <p>Click this button to copy the dink settings:<button id="copyButton">Copy Settings</button>In your game client type "::dinkimport" as seen in the image below and hit enter.
        <b>Verify dink updated 21 config settings in your chat.</b></p>
    <script>
    document.getElementById('copyButton').addEventListener('click', function() {
        var button = this
        fetch('{{ url_for('static', filename='images/dink/dink.txt') }}')
        .then(response => response.text())
        .then(text => {
            navigator.clipboard.writeText(text)
            .then(() => {
                console.log('Text copied to clipboard');
                button.textContent = 'Copied!';
            })
            .catch(err => {
                console.error('Could not copy text: ', err);
            });
        });
    });
    </script>
    <img src="{{ url_for('static', filename='images/dink/step3.png') }}"/>
</div>
<div class="step-block">
    <h2>Step 4 - Done</h2>
    <p>You are now able to track your progress throughout the bingo. If you notice your drops or kill count aren't showing up try repeating Step 2 and Step 3 or contact Admin if the issue persists.</p>
    <p>For now check out your player page by typing your in game name into the search box!</p>
    <form onsubmit="submitForm(event)" class="search-bar">
        <datalist id="player-names">
            {% for playername in playernames %}
            <option value="{{playername}}">
            {% endfor %}
        </datalist>
        <input type="text" id="searchbox" name="searchboxcontent" placeholder="Search..." list="player-names" autocomplete="off">
        <input type="submit" value="Search">
    </form>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Data Usage Notice</h2>
    <p>We use your data solely to enhance your gaming experience with the Dink plugin. Your data is securely handled and is only shared with Clan Leadership. We do not share your data with any other third parties.</p>
    <p>The plugin is completely safe to use and complies with all relevant privacy regulations. If you have any concerns, please feel free to contact Danbis (danny0897 on discord).</p>
    <p>Data Collected:</p>
      <ul>
          <li><strong>Collection Log:</strong> Data is sent every time you acquire a new item in your collection log.</li>
          <li><strong>Pets:</strong> Records the pet you received and the kill count (KC) at the time of acquisition.</li>
          <li><strong>Levels:</strong> Tracks each level-up, including the skill and level achieved.</li>
          <li><strong>Loot:</strong> Logs the loot obtained, including the source, quantity, and value.</li>
          <li><strong>Death:</strong> Captures data on every death, including a screenshot.</li>
          <li><strong>Slayer:</strong> Records data on the completion of each Slayer task.</li>
          <li><strong>Quests:</strong> Logs data for each quest completion.</li>
          <li><strong>Game Engine Messages:</strong> Records messages from the game engine that notify you of events like LMS wins, Inferno waves, Fight Caves waves, etc. This is <strong>NOT</strong> the same as the chat you use to talk with your friends.</li>
          <li><strong>Clue Scrolls:</strong> Tracks clue loot, kill count, and difficulty level (easy, medium, hard, elite, or master).</li>
          <li><strong>Speedruns:</strong> Records data every time you beat your personal best (PB).</li>
          <li><strong>Kill Count:</strong> Logs data each time you kill a boss.</li>
          <li><strong>Combat Tasks:</strong> Records data upon completion of each Combat Achievement (CA).</li>
          <li><strong>Achievement Diaries:</strong> Logs data every time you complete an Achievement Diary.</li>
          <li><strong>BA Gambles:</strong> Tracks data every time you gamble at Barbarian Assault.</li>
          <li><strong>Player Kills:</strong> Records loot data every time you kill a player or are killed by another player.</li>
      </ul>
      <p>While some of this data may not seem immediately relevant to your bingo, it is designed to reduce the need for constant updates to the Dink plugin for future bingos. The plugin is used by both PvM and skilling clans, so data that might not be relevant to your current bingo could be essential for another clan’s event.</p>
      <p>If you have any questions or are uncomfortable submitting your data, you can always submit your drops manually or reach out to Danbis (danny0897 on discord) for assistance.</p>
  </div>
</div>



{% endblock %}
